body {
    margin: 0;
    font-family: 'Raleway';
    background: linear-gradient(to right, #c9a4bf, #8b567e);
}
main {
    
}
#new-note {
    width: 60%;
    background: rgba(68, 68, 68, 0.363);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-content: center;
    justify-content: center;
}
.notes {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}
.note {
    border-radius: 25px;
    color: #444;
    background: #fff;
    margin: 20px;
    padding: 20px;
    max-width: 25%;
    overflow: hidden;
}
#new-note-add {
    background: rgba(179, 178, 178, 0.452);
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-family: 'Raleway';
    text-transform: uppercase;
}
.note-title {
    border-radius: 10px;
    font-size: 18px;
}
.note-content {
    border-radius: 10px;
    padding: 10px 0;
    font-family: 'Kalam';
}
.note-date {
    font-size: 12px;
}
.note-menu {
    padding-top: 15px;
    font-size: 12px;
}
i:hover { 
    background-color: rgba(37, 37, 37, 0.226);
}
.active {
    color: rgb(145, 39, 113)
}